/* Mise en forme générale */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Portfolio */
.portfolio2 {
    padding: 50px;
    margin-bottom: 20px;
    height: 100%;
}

.portfolio2 h2 {
    font-size: 2rem;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: black;
}

.certifs {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.certif {
    background: white;
    padding: 20px;
    width: 300px;
    height: 80%;
    text-align: center;
    border-radius: 8px;
    transition: all 0.3s ease;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.certif:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Image zoom */
.image-container {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-bottom: 15px;
    border-radius: 8px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.certif:hover .image-container img {
    transform: scale(1.1);
}

.certif-text {
    font-weight: bold;
    margin-bottom: 10px;
}

.certif-details {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s ease;
}

/* Affichage du détail au survol */
.certif:hover .certif-details {
    max-height: 100px;
    opacity: 1;
}