html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

footer {
    background-color: #000;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

footer div p {
    margin: 0;
    line-height: 1.6;
}


footer img {
    width: 40px;
    height: 40px;
}