body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    background: black;
    color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #f39c12;
}











/*
.container{
    width: 100%;
    display: flex;
    color:black;
    justify-content: space-evenly;
    z-index: 1;

}
.container .box{
    width: 15%;
    box-shadow: 4px 4px 40px #000;
    padding: 20px;
    transition: heigth .5s;
    height: 470px;
    margin: 60px;
}
.container .box img {
    width: 80%;
    height: 450px;
    position: relative;
    box-shadow: 4px 4px 40px #464646;

}
.container .box .contenu{
    text-align: center;
    transition: height;
    height: 0px;
    overflow: hidden;
    bottom: 20px;
    position: relative;
}
.container .box .contenu p{
    margin-top: 10px;
    text-align: left;
    font-size: 15px;
    color: #000;
}
.container .box:hover{
    height: 650px;
    transition: 3s;
}
.container .box:hover .contenu{
    height: 220px;
    transition: 4s;
}

.gray img {
    width: 200px;
    height: 200px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.gray:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
h1{
    margin: 40px 0px 60px 0px;
}


.container2{
    width: 100%;
    display: flex;
    color:black;
    justify-content: space-evenly;
    min-height: 70%;
    z-index: 1;

}
.container2 .box{
    width: 15%;
    box-shadow: 4px 4px 40px #000;
    padding: 20px;
    transition: heigth .5s;
    height: 470px;
    margin: 60px;
}
.container2 .box img {
    width: 80%;
    height: 450px;
    position: relative;
    box-shadow: 4px 4px 40px #464646;

}
.container2 .box .contenu{
    text-align: center;
    transition: height;
    height: 0px;
    overflow: hidden;
    bottom: 20px;
    position: relative;
}
.container2 .box .contenu p{
    margin-top: 10px;
    text-align: left;
    font-size: 15px;
    color: #000;
}
.container2 .box:hover{
    height: 650px;
    transition: 3s;
}
.container2 .box:hover .contenu{
    height: 220px;
    transition: 4s;
}
*/












.about-section {
    margin-top: 60px;
    padding: 100px 0;
}

.about-container {
    max-width: 80%;
    height: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 130px;
}


.about-tag {
    background: #e6fff6;
    color: #00b894;
    padding: 8px 18px;
    border-radius: 20px;
    font-size: 16px;
}


.about-title {
    display: flex;
    font-size: 55px;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 25px;
    line-height: 1.2;
    flex-wrap: wrap;
    justify-content: center;
}

.green {
    color: #00b894;
    padding-left: 15px;
}

.about-text {
    width: 60%;
    height: 80%;
}

/* TEXTE */
.about-text p {
    font-size: 18px;
    display: flex;
    text-align: left;
    color: #444;
    line-height: 1.7;
    margin-bottom: 18px;
}


/* STATISTIQUES */
.stats {
    display: flex;
    gap: 60px;
    margin-top: 35px;
}

.stat h2 {
    color: #00b894;
    font-size: 38px;
    font-weight: 700;
    margin: 0;
}

.stat p {
    color: #666;
    font-size: 15px;
    margin: 5px 0 0 0;
}

/* IMAGE DE DROITE */
.about-img-container {
    position: relative;
    width: 520px;
}

.about-img-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00b894;
    border-radius: 30px;
    transform: rotate(3deg);
    top: 0;
    right: -15px;
    z-index: 1;
}

.about-img {
    width: 100%;
    border-radius: 30px;
    position: relative;
    z-index: 2;
}










/* CONTAINER2 A CONFIG

.about-section {
    margin-top: 60px;
    padding: 100px 0;
}

.about-container {
    max-width: 80%;
    height: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 130px;
}


.about-tag {
    background: #e6fff6;
    color: #00b894;
    padding: 8px 18px;
    border-radius: 20px;
    font-size: 16px;
}


.about-title {
    display: flex;
    font-size: 55px;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 25px;
    line-height: 1.2;
    flex-wrap: wrap;
    justify-content: center;
}

.green {
    color: #00b894;
    padding-left: 15px;
}

.about-text {
    width: 60%;
    height: 80%;
}


.about-text p {
    font-size: 18px;
    display: flex;
    text-align: left;
    color: #444;
    line-height: 1.7;
    margin-bottom: 18px;
}


.stats {
    display: flex;
    gap: 60px;
    margin-top: 35px;
}

.stat h2 {
    color: #00b894;
    font-size: 38px;
    font-weight: 700;
    margin: 0;
}

.stat p {
    color: #666;
    font-size: 15px;
    margin: 5px 0 0 0;
}

.about-img-container {
    position: relative;
    width: 520px;
}

.about-img-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00b894;
    border-radius: 30px;
    transform: rotate(3deg);
    top: 0;
    right: -15px;
    z-index: 1;
}

.about-img {
    width: 100%;
    border-radius: 30px;
    position: relative;
    z-index: 2;
}
*/












.stack {
    position: relative;
    width: 300px;
    height: 200px;
}

/* Style commun */
.stack img {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 200px;
    object-fit: cover;

    /* Ajout de l'animation du mouvement vertical */
    transition: left 0.5s ease, top 0.5s ease, transform 0.5s ease;
}

/* Poses initiales empilées */
.img1 {
    transform: rotate(-5deg);
}

.img2 {
    transform: rotate(4deg);
}

.img3 {
    transform: rotate(-3deg);
}

.img4 {
    transform: rotate(6deg);
}

/* Déploiement au survol */
.stack:hover img {
    transform: rotate(0deg);
}

/* Ligne du haut */
.stack:hover .img1 {
    left: 0;
    top: 0;
}

.stack:hover .img2 {
    left: 310px;
    top: 0;
}

/* Ligne du bas */
.stack:hover .img3 {
    left: 0;
    top: 210px;
}

.stack:hover .img4 {
    left: 310px;
    top: 210px;
}