body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    background: black;
    color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #f39c12;
}











/*
.container{
    width: 100%;
    display: flex;
    color:black;
    justify-content: space-evenly;
    z-index: 1;

}
.container .box{
    width: 15%;
    box-shadow: 4px 4px 40px #000;
    padding: 20px;
    transition: heigth .5s;
    height: 470px;
    margin: 60px;
}
.container .box img {
    width: 80%;
    height: 450px;
    position: relative;
    box-shadow: 4px 4px 40px #464646;

}
.container .box .contenu{
    text-align: center;
    transition: height;
    height: 0px;
    overflow: hidden;
    bottom: 20px;
    position: relative;
}
.container .box .contenu p{
    margin-top: 10px;
    text-align: left;
    font-size: 15px;
    color: #000;
}
.container .box:hover{
    height: 650px;
    transition: 3s;
}
.container .box:hover .contenu{
    height: 220px;
    transition: 4s;
}

.gray img {
    width: 200px;
    height: 200px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.gray:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
h1{
    margin: 40px 0px 60px 0px;
}


.container2{
    width: 100%;
    display: flex;
    color:black;
    justify-content: space-evenly;
    min-height: 70%;
    z-index: 1;

}
.container2 .box{
    width: 15%;
    box-shadow: 4px 4px 40px #000;
    padding: 20px;
    transition: heigth .5s;
    height: 470px;
    margin: 60px;
}
.container2 .box img {
    width: 80%;
    height: 450px;
    position: relative;
    box-shadow: 4px 4px 40px #464646;

}
.container2 .box .contenu{
    text-align: center;
    transition: height;
    height: 0px;
    overflow: hidden;
    bottom: 20px;
    position: relative;
}
.container2 .box .contenu p{
    margin-top: 10px;
    text-align: left;
    font-size: 15px;
    color: #000;
}
.container2 .box:hover{
    height: 650px;
    transition: 3s;
}
.container2 .box:hover .contenu{
    height: 220px;
    transition: 4s;
}
*/












.about-section {
    margin-top: 60px;
    padding-top: 150px;
}

.about-container {
    max-width: 80%;
    height: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 130px;
}


.about-tag {
    background: #e6fff6;
    color: #00b894;
    padding: 8px 18px;
    border-radius: 20px;
    font-size: 16px;
}


.about-title {
    display: flex;
    font-size: 55px;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 25px;
    line-height: 1.2;
    flex-wrap: wrap;
    justify-content: center;
}

.green-p {
    color: #00b894;
    padding-left: 15px;
}

.about-text {
    width: 60%;
    height: 80%;
}

/* TEXTE */
.about-text p {
    font-size: 18px;
    display: flex;
    text-align: center;
    color: #444;
    line-height: 1.7;
    margin-bottom: 18px;
    justify-content: center;
}


/* STATISTIQUES */
.stats {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 35px;
}

.stat h2 {
    color: #00b894;
    font-size: 38px;
    font-weight: 700;
    margin: 0;
}

.stat p {
    color: #666;
    font-size: 15px;
    margin: 5px 0 0 0;
}

/* IMAGE DE DROITE */
.about-img-container {
    position: relative;
    width: 520px;
}

.about-img-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00b894;
    border-radius: 30px;
    transform: rotate(3deg);
    top: 0;
    right: -15px;
    z-index: 1;
}

.about-img {
    width: 100%;
    border-radius: 30px;
    position: relative;
    z-index: 2;
}








.about-section2 {
    margin-top: 60px;
    padding-top: 150px;
}

.about-container2 {
    max-width: 80%;
    height: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 130px;
}


.about-tag2 {
    background: #e6fff6;
    color: #00b894;
    padding: 8px 18px;
    border-radius: 20px;
    font-size: 16px;
}


.about-title2 {
    display: flex;
    font-size: 55px;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 25px;
    line-height: 1.2;
    flex-wrap: wrap;
    justify-content: center;
}

.green2 {
    color: #00b894;
    padding-left: 15px;
}

.about-text2 {
    width: 60%;
    height: 80%;
}

/* TEXTE */
.about-text2 p {
    font-size: 18px;
    display: flex;
    text-align: center;
    color: #444;
    line-height: 1.7;
    margin-bottom: 18px;
}


/* STATISTIQUES */
.stats2 {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 35px;
}

.stat2 h2 {
    color: #00b894;
    font-size: 38px;
    font-weight: 700;
    margin: 0;
}

.stat2 p {
    color: #666;
    font-size: 15px;
    margin: 5px 0 0 0;
    display: flex;
    text-align: center;
}





/* CONTAINER2 A CONFIG

.about-section {
    margin-top: 60px;
    padding: 100px 0;
}

.about-container {
    max-width: 80%;
    height: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 130px;
}


.about-tag {
    background: #e6fff6;
    color: #00b894;
    padding: 8px 18px;
    border-radius: 20px;
    font-size: 16px;
}


.about-title {
    display: flex;
    font-size: 55px;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 25px;
    line-height: 1.2;
    flex-wrap: wrap;
    justify-content: center;
}

.green {
    color: #00b894;
    padding-left: 15px;
}

.about-text {
    width: 60%;
    height: 80%;
}


.about-text p {
    font-size: 18px;
    display: flex;
    text-align: left;
    color: #444;
    line-height: 1.7;
    margin-bottom: 18px;
}


.stats {
    display: flex;
    gap: 60px;
    margin-top: 35px;
}

.stat h2 {
    color: #00b894;
    font-size: 38px;
    font-weight: 700;
    margin: 0;
}

.stat p {
    color: #666;
    font-size: 15px;
    margin: 5px 0 0 0;
}

.about-img-container {
    position: relative;
    width: 520px;
}

.about-img-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00b894;
    border-radius: 30px;
    transform: rotate(3deg);
    top: 0;
    right: -15px;
    z-index: 1;
}

.about-img {
    width: 100%;
    border-radius: 30px;
    position: relative;
    z-index: 2;
}
*/












.stack {
    position: relative;
    width: 700px;
    height: 480px;
    margin: 40px;
}

/* Style commun */
.stack img {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 200px;
    object-fit: cover;

    /* Ajout de l'animation du mouvement vertical */
    transition: left 0.5s ease, top 0.5s ease, transform 0.5s ease;
}

/* Poses initiales empilées */
.img1 {
    transform: rotate(-5deg);
}

.img2 {
    transform: rotate(4deg);
}

.img3 {
    transform: rotate(-3deg);
}

.img4 {
    transform: rotate(6deg);
}

/* Déploiement au survol */
.stack:hover img {
    transform: rotate(0deg);
}

/* Ligne du haut */
.stack:hover .img1 {
    left: 0;
    top: 0;
}

.stack:hover .img2 {
    left: 310px;
    top: 0;
}

/* Ligne du bas */
.stack:hover .img3 {
    left: 0;
    top: 210px;
}

.stack:hover .img4 {
    left: 310px;
    top: 210px;
}












.skills-section {
    text-align: center;
    padding: 140px 20px;      /* encore plus d'espace */
}

.skills-section h1 {
    font-size: 55px;          /* encore plus grand */
    margin: 20px 0;
}

.skills-section h1 span {
    color: #07c2a9;
}

.subtitle {
    color: #666;
    font-size: 18px;          
    margin-bottom: 70px;
}

.tag {
    display: inline-block;
    background: #dff8f3;
    color: #07c2a9;
    padding: 12px 26px;
    border-radius: 28px;
    font-size: 16px;
}

/* --- CARDS --- */
.cards {
    display: flex;
    gap: 70px;                 /* plus d’espace entre les cartes */
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.card {
    background: #fff;
    text-align: center;
    width: 450px;              /* beaucoup plus large */
    padding: 50px;             /* plus d’espace interne */
    border-radius: 26px;
    box-shadow: 0 15px 45px rgba(0,0,0,0.08);
    text-align: left;
}

.card h2 {
    text-align: center;  /* titre centré */
}

.card .icon {
    margin-left: auto;
    margin-right: auto;  /* centre l’icône */
}

/* Icônes encore agrandies */
.icon {
    width: 80px;
    height: 80px;
    background: #e8fdf7;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;           /* très grande icône */
    margin-bottom: 28px;
    color: #07c2a9;
}

.skill {
    margin-bottom: 35px;
    font-size: 20px;
}

.skill-row {
    display: flex;
    justify-content: space-between;   /* texte à gauche / % à droite */
    align-items: center;
    margin-bottom: 8px;               /* espace entre le texte et la barre */
}

.skill-row span {
    float: none; /* on annule les floats */
}

.skill span:first-child {
    float: left;
}

.skill span:last-child {
    float: right;
}

.skill::after {
    content: "";
    display: block;
    clear: both;
}

/* --- PROGRESS BAR --- */
.bar {
    width: 100%;
    height: 16px;              /* très épaisse */
    background: #e0e0e0;
    border-radius: 10px;
    margin-top: 12px;
    overflow: hidden;
}

.bar div {
    height: 100%;
    background: #07c2a9;
    border-radius: 10px;
}

.blue div { background: #3c7df0; }
.purple div { background: #a55eea; }















.timeline-section {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    text-align: center;
    padding: 50px 0;
}


.title span {
    color: #23b68b;
}

.intro {
    color: #666;
    margin-bottom: 60px;
        font-size: 18px;
}

/* ----- TIMELINE ----- */

.timeline {
    position: relative;
    width: 100%;
    margin-bottom: 100px;
}

h2.title{
    font-size: 55px;
}

.timeline::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 4px;
    height: 90%;
    background: linear-gradient(#00c389, #4d9fff);
    transform: translateX(-50%);
    border-radius: 10px;
}

/* Items */

.timeline-item {
    width: 50%;
    margin-bottom: 80px;
    position: relative;
}

.timeline-item.left {
    left: 0;
    text-align: left;
}

.timeline-item.right {
    left: 50%;
    text-align: left;
}

/* Cards */

.card2 {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
    width: 85%;
    position: relative;
}

.card2.blue { 
    border-left: 5px solid #4d9fff;
    margin: 5%;
    top: 50px; 
}

.card2.green{
    border-left: 5px solid #2ecc71;
}
.card2.purple { 
    border-left: 5px solid #b26dff; 
}

.year {
    font-weight: bold;
    font-size: 18px;
}

.status {
    float: right;
    padding: 3px 10px;
    border-radius: 20px;
    font-size: 12px;
    color: white;
}
.green-s { background: #2ecc71; }
.blue-s { background: #4d9fff; }
.purple-s { background: #b26dff; }

.school {
    color: #4d9fff;
    margin: 5px 0 10px 0;
}

.points {
    margin-top: 10px;
}
.points li {
    margin: 6px 0;
}

/* Icons between cards */

.icon2 {
    position: relative;
    bottom: 220px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 26px;
    margin-bottom: 60px;
    background: white;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    line-height: 55px;
}

/* Final card */

.timeline-end {
    margin-top: 70px;
    text-align: center;
}

.final-card {
    width: 55%;
    margin: auto;
    padding: 30px;
    color: white;
    border-radius: 20px;
    background: linear-gradient(135deg, #00c389, #4d9fff);
    box-shadow: 0 4px 20px rgba(0,0,0,0.15);
}