#deathScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 32px;
  z-index: 999;
}

#deathScreen button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}


html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}


#victoryScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 32px;
  z-index: 999;
}

#victoryScreen button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}
