/* Mise en forme générale */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    background: black;
    color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    transition: color 0.3s ease;
}

.background {
    background-image: url('https://img.freepik.com/free-photo/flat-lay-workstation-with-copy-space-laptop_23-2148430879.jpg?semt=ais_hybrid&w=740');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    margin: 0;
}


nav a:hover {
    color: #f39c12;
}

/* Style pour le menu déroulant de langue */
.language-switch {
    margin-left: 20px;
}

#languageSelect {
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    background: white;
    color: black;
    transition: background-color 0.3s ease;
}

#languageSelect:hover {
    background-color: #f39c12;
}

/* Style pour les icônes */
.icons {
    display: flex;
    gap: 10px;
    margin-left: 20px;
}

.icon {
    width: 25px;
    height: 25px;
    transition: transform 0.3s ease;
}

.icon:hover {
    transform: scale(1.2);
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 50px;
    background: linear-gradient(to right, #3498db, #9b59b6);
    color: white;
}

.hero .text {
    margin: 0 30px;
    transition: transform 0.3s ease;
    width: 700px;
}

.hero .text h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    opacity: 0.9;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.hero .text p {
    font-size: 1.1rem;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.hero .text:hover {
    transform: translateY(-10px);
}

.hero .text h1:hover {
    opacity: 1;
}

/* Nouvelle animation de la photo de profil */
.profile-pic {
    margin: 0 30px;
    padding: 10px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-pic:hover {
    transform: scale(1.5);
    /* Augmenter l'échelle pour un zoom plus grand */
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
    /* Ajouter un effet d'ombre */
}

.profile-pic img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

/* Style de la section portfolio */
.portfolio {
    padding: 50px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 40px;
    color: #fff;
    text-transform: uppercase;
}

.projects {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.project {
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: left;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.image-container {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-bottom: 15px;
    border-radius: 8px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.project:hover .image-container img {
    transform: scale(1.1);
}
